{
  "CN": "Kubernetes",
  "key": {
    "algo": "{{ key_algo }}",
    "size": {{ key_size }}
  },
  "names": [
  {
    "C":  "{{ name_C }}",
    "L":  "{{ name_L }}",
    "O":  "{{ name_O }}",
    "OU": "{{ name_OU }}",
    "ST": "{{ name_ST }}"
  }
 ]
}
