127.0.0.1   localhost
192.168.10.97   op-k8s-lbs-1 op-k8s-lbs-1.xprd.k8s.local
192.168.10.98   op-k8s-lbs-2 op-k8s-lbs-2.xprd.k8s.local
192.168.10.99   op-k8s-lbs-3 op-k8s-lbs-3.xprd.k8s.local
192.168.10.100  op-k8s-lbs-vip op-k8s-lbs-vip.xprd.k8s.local
192.168.10.101  op-k8s-masters-1 op-k8s-masters-1.xprd.k8s.local
192.168.10.102  op-k8s-masters-2 op-k8s-masters-2.xprd.k8s.local
192.168.10.103  op-k8s-masters-3 op-k8s-masters-3.xprd.k8s.local
192.168.10.201  op-k8s-workers-1 op-k8s-workers-1.xprd.k8s.local
192.168.10.202  op-k8s-workers-2 op-k8s-workers-2.xprd.k8s.local
192.168.10.203  op-k8s-workers-3 op-k8s-workers-3.xprd.k8s.local
