127.0.0.1   localhost 
{{ k8slb_ip }}  {{ k8slb_name }} {{ k8slb_name }}.{{ dns_domain }}
{{ k8slb_vip_ip }}  {{ k8slb_name }}-vip  {{ k8slb_name }}-vip.{{ dns_domain }}
{{ k8sma1_ip }}  {{ k8sma1_name }} {{ k8sma1_name }}.{{ dns_domain }} k8s-endpoint
{{ k8sma2_ip }}  {{ k8sma2_name }} {{ k8sma2_name }}.{{ dns_domain }}
{{ k8sma3_ip }}  {{ k8sma3_name }} {{ k8sma3_name }}.{{ dns_domain }}
{{ k8swk1_ip }}  {{ k8swk1_name }} {{ k8swk1_name }}.{{ dns_domain }}
{{ k8swk2_ip }}  {{ k8swk2_name }} {{ k8swk2_name }}.{{ dns_domain }}
{{ k8swk3_ip }}  {{ k8swk3_name }} {{ k8swk3_name }}.{{ dns_domain }}
